.App {
  text-align: center;
  background-color: red;
}
.ag-header-row .ag-header-cell{
  border-right:1px solid #ccc;
}

.ag-row .ag-cell:first-child,
.ag-row .ag-cell:nth-child(2){
  border-right:1px solid #ccc;
}
.ag-center-cols-container .ag-row:nth-child(3n+3){
  border-bottom: 5px solid #ccc;
}
